$header-bg-color: #009688;
$header-link-color: #fff;

$chat-history-padding: 15px;

$chat-container-bg: #DDD;
$chat-container-height: 75px;

$message-box-max-width: 200px;
$message-box-padding: 10px;
$message-box-arrow-size: 10px;
$message-box-sent-bg: #16a085;
$message-box-recieved-bg: #2c3e50;